/* $chrome-yellow: rgba(250, 169, 22, 1);
$opal: rgba(160, 193, 185, 1);
$usafa-blue: rgba(38, 84, 124, 1);
$cherry-blossom-pink: rgba(251, 172, 190, 1);
$carmine: rgba(150, 3, 26, 1); */


/* .card-container {
    margin: 10px auto 25px auto;
    display: block;
    width: 90%;
    height: fit-content;
    border: 2px solid rgba(150, 3, 26, 0.4);
} */

.todo-card {
    margin: auto 20px;
    width: 90%;
    text-align: left;
    font-size: 20px;
    padding-left: 0px;
}

.eachItem {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

li{
    display: flex;
    list-style: none;
    width: 85%;
    max-width: 75%;
    word-wrap:break-word;
}

li:hover {
    cursor: pointer;
}

li p {
    font-size: 2vw;
    font-weight: bold;
    max-width: 100%;
    overflow-wrap: break-word;
    margin: 5px 0;
}

.eachItem button {
    background: none;
    border: none;
    width: fit-content;
    height: fit-content;
    width: fit-content;
    padding: 0px;
    margin: 0px;
    justify-content: right;
    align-items: center;
    margin: auto 0 ;
}
